#!/bin/bash
set -eu

APP=SabreTools
ORG=$APP
REPO=$APP
DESTDIR=/opt/${APP}


case $(uname -m) in
    x86_64)
        ARCH=x64
        ;;

    aarch64)
        ARCH=arm64
        ;;
    *)
      echo "Unsupported arch"
      exit 1
esac

dl_install() {
    RELEASE=${1}
    
    [ -z "$RELEASE" ] && echo "Couldn't get release " && exit 1
    [ "$RELEASE" == "null" ] && echo "Couldn't get release " && exit 1
    [ ! -d "${DESTDIR}" ] && mkdir -p "${DESTDIR}"

    RTMP=$(mktemp -d)
    cd $RTMP
    curl -sOJL "${RELEASE}"

    FILENAME=$(basename ${RELEASE})
    if unzip -o $FILENAME -d $DESTDIR
    then
      [ -f /usr/local/bin/sabretools ] && rm -f /usr/local/bin/sabretools
      ln -s ${DESTDIR}/${APP} /usr/local/bin/sabretools
      rm -rf $RTMP
    fi
}

RELEASE=$(curl -skJL https://api.github.com/repos/${ORG}/${REPO}/releases | jq -r ".[0].assets | map(select(.name | match (\"linux-x64_release\")))[-1] | .browser_download_url" )
dl_install $RELEASE
